<html>
<head>
<title>Searchler; Search For WebSites</title>
<link href="/static/style.css" rel="stylesheet" type="text/css">
<img src="/static/Searchler.png">
</div>
</head>
<body>
<div style="background-image:url(/static/background.png);">
<div><script async src="https://cse.google.com/cse.js?cx=226b940ef44796d05"></script>
<div class="gcse-search"></div>
<h2 style="color:white" text align="left">WEB DEV SITES</h2>
<p>
<a href=https://www.w3schools.com>W3 Schools</a><br>
<a href=https://www.sites.google.com>Google sites</a><br>
<a href=https://www.coursera.org>Coursera</a><br>
<a href=https://www.codeacademy.com>Codeacademy</a><br>
<a href=https://www.udacity.com>Udacity</a><br>
<a href=https://www.alison.com>Alison</a><br>
<a href=https://www.thenewboston.com>TheNewBoston</a><br>
<a href=https://www.edx.org>edX</a><br>
</p>
<h2 style="color:white" text align="center">Mostly visited sites</h2>
<p>
 <a href=https://www.google.ae/>Google </a><br>
<a href=https://www.youtube.com/channel/UC8mwdwggkUua8WLvfqlS_GQ>YouTube</a><br>
<a href=facebook.com>Facebook </a><br>
<a href=wikipedia.org>Wikipedia</a><br>
<a href=https://www.yahoo.com>Yahoo</a><br>
<a href=https://www.reddit.com>Reddit</a><br>
<a href=https://www.twitter.com>Twitter</a><br>
<a href=https://www.instagram.com>Instagram</a><br>
<a href=https://www.gmail.com>Gmail</a><br>
<a href=https://gems.phoenixclassroom.com>Phoenix Classroom</a><br>
<h2 style="color:white  " text align="right">Most Frequently Asked Questions</h2><br>
<a href=https://www.google.com/search?newwindow=1&safe=strict&rlz=1C1CHBD_enAE894AE894&sxsrf=ALeKk02gyzXJm_pTXC-38kKPlBqxeYvmxg%3A1614871421557&ei=fftAYPu7IYuUgAaIv6x4&q=how+many+weeks+in+a+year&oq=how+many+weeks+in+a+year&gs_lcp=Cgdnd3Mtd2l6EAMyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAOgcIIxDqAhAnUMjfJljI3yZgh-MmaAFwAngAgAGiAogBoASSAQMyLTKYAQCgAQGgAQKqAQdnd3Mtd2l6sAEKwAEB&sclient=gws-wiz&ved=0ahUKEwi77sHr-JbvAhULCsAKHYgfCw8Q4dUDCA0&uact=5>how many weeks in a year</a><br>
<a href=https://www.google.com/search?newwindow=1&safe=strict&rlz=1C1CHBD_enAE894AE894&sxsrf=ALeKk01uqXHzJF9Sn5pqK8Ekph6eE6GOsg%3A1614872058280&ei=-v1AYPbNEMr1gQbXjIuoCw&q=is+mercury+in+retrograde&oq=is+mercury+in	+retrograde&gs_lcp=Cgdnd3Mtd2l6EAMyBQguEJMCMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAOgcIIxDqAhAnUP2RBFj9kQRgs6AEaAFwAngAgAGKAogBygOSAQUwLjEuMZgBAKABAaABAqoBB2d3cy13aXqwAQrAAQE&sclient=gws-wiz&ved=0ahUKEwj2spCb-5bvAhXKesAKHVfGArUQ4dUDCA0&uact=5>is mercury in retrograde</a><br>
</p>
</div>
</body>
</html>