<html>
<head>
<title>OOwgle; Searchler but Dark Mode</title>
</div>
</head>
<body>
  <link rel="stylesheet" href="mystyle.css">
  <div style="background-image: url('/static/background_light.png');"> 
  <h1 style="font-family: Verdana;">OOwgle, Search for websites</h1>
<div><script async src="https://cse.google.com/cse.js?cx=226b940ef44796d05"></script>
<div class="gcse-search"></div>

<p>
  <button onclick="window.location.href='https://www.w3schools.com'">Click for w3schools.com</button><br>
  <button onclick="window.location.href='https://www.sites.google.com'">Click for Sites.google.com</button><br>
  <button onclick="window.location.href='https://www.coursera.org'">Click for Coursera.org</button><br>
  <button onclick="window.location.href='https://www.codeacademy.com'">Click for Codeacademy.com</button><br>
  <button onclick="window.location.href='https://www.udacity.com'">Click for Udacity.com</button><br>
  <button onclick="window.location.href='https://www.alison.com'">Click for Alison.com</button><br>
  <button onclick="window.location.href='https://www.thenewboston.com'">Click for TheNewBoston</button><br>
  <button onclick="window.location.href='https://www.edx.org'">Click for edx.org</button><br>
</p>
<h2 style="color:white" text align="center">Mostly visited sites</h2>
<p>
    <button onclick="window.location.href='https://www.phoenixclassroom.com/'">Click for Phoenix classroom</button><br>
    <button onclick="window.location.href='https://www.gmail.com'">Click for gmail.com</button><br>
    <button onclick="window.location.href='https://www.intagram.com'">Click for Intagram</button><br>
      <button onclick="window.location.href='https://www.twitter.com'">Click for Twitter</button><br>
        <button onclick="window.location.href='https://www.reddit.com'">Click for Reddit</button><br>
          <button onclick="window.location.href='https://www.yahoo.com'">Click for Yahoo.com</button><br>
            <button onclick="window.location.href='https://www.wikipedia.org'">Click for Wikipedia</button><br>
              <button onclick="window.location.href='https://www.facebook.com'">Click for Facebook</button><br>
                <button onclick="window.location.href='https://www.youtube.com'">Click for Youtube</button><br>
                  <button onclick="window.location.href='https://www.google.ae'">Click for Google.ae</button><br>
<h2 style="color:white  " text align="right">Most Frequently Asked Questions</h2><br>
<button onclick="window.location.href='https://www.google.com/search?newwindow=1&safe=strict&rlz=1C1CHBD_enAE894AE894&sxsrf=ALeKk02gyzXJm_pTXC-38kKPlBqxeYvmxg%3A1614871421557&ei=fftAYPu7IYuUgAaIv6x4&q=how+many+weeks+in+a+year&oq=how+many+weeks+in+a+year&gs_lcp=Cgdnd3Mtd2l6EAMyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAOgcIIxDqAhAnUMjfJljI3yZgh-MmaAFwAngAgAGiAogBoASSAQMyLTKYAQCgAQGgAQKqAQdnd3Mtd2l6sAEKwAEB&sclient=gws-wiz&ved=0ahUKEwi77sHr-JbvAhULCsAKHYgfCw8Q4dUDCA0&uact=5>'">Click to know How many weeks in a year</button><br>
<button onclick="window.location.href='=https://www.google.com/search?newwindow=1&safe=strict&rlz=1C1CHBD_enAE894AE894&sxsrf=ALeKk01uqXHzJF9Sn5pqK8Ekph6eE6GOsg%3A1614872058280&ei=-v1AYPbNEMr1gQbXjIuoCw&q=is+mercury+in+retrograde&oq=is+mercury+in	+retrograde&gs_lcp=Cgdnd3Mtd2l6EAMyBQguEJMCMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAOgcIIxDqAhAnUP2RBFj9kQRgs6AEaAFwAngAgAGKAogBygOSAQUwLjEuMZgBAKABAaABAqoBB2d3cy13aXqwAQrAAQE&sclient=gws-wiz&ved=0ahUKEwj2spCb-5bvAhXKesAKHVfGArUQ4dUDCA0&uact=5'">Click to know if Mercury is a retrograde</button><br>
</p>
</div>
</body>
</html>
